{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Modeler</title>

    <!-- required modeler styles -->
    <link rel="stylesheet" href="{% static 'bpmn-js/dist/assets/diagram-js.css' %}">
    <link rel="stylesheet" href="{% static 'bpmn-js/dist/assets/bpmn-font/css/bpmn.css' %}">

    <!-- modeler distro -->
    <script src="{% static 'bpmn-js/dist/bpmn-modeler.development.js' %}"></script>

    <!-- needed for this example only -->
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>

    <!-- example of layout style -->
    <style>
      html, body, #canvas {
        height: 100%;
        padding: 0;
        margin: 0;
      }

      .diagram-note {
        background-color: rgba(66, 180, 21, 0.7);
        color: White;
        border-radius: 5px;
        font-family: Arial;
        font-size: 12px;
        padding: 5px;
        min-height: 16px;
        width: 50px;
        text-align: center;
      }

      .needs-discussion:not(.djs-connection) .djs-visual > :nth-child(1) {
        stroke: rgba(66, 180, 21, 0.7) !important; /* color elements as red */
      }

      #save-button {
        position: fixed;
        bottom: 20px;
        left: 20px;
      }

      #close-button{
          position: fixed;
          bottom: 20px;
          left: 150px;
      }
    </style>
  </head>
  <body>

    <div id="canvas"></div>

    <button id="save-button">Save Diagram</button>
    <button id="close-button">Close Diagram</button>

    <form>
        {% csrf_token %}
    </form>

    <script>

      var id_bpmn = '{{ id_bpmn }}'
      var isNewDiagram = false

      // the file name to be opened
      var diagramUrl = '{{bpmn_filename}}';
      {% autoescape off %}
        var bpmnFileContent = "{{ bpmn_file_content|escapejs }}"
      {% endautoescape %}


      // modeler instance
      var bpmnModeler = new BpmnJS({
        container: '#canvas',
        keyboard: {
          bindTo: window
        }
      });

      function isNewDiagram(id){
          return (id == '' || id == '-1');
      }

      /**
       * Save diagram contents and print them to the console.
       */
      function exportDiagram() {

        bpmnModeler.saveXML({ format: true }, function(err, xml) {

          if (err) {
            return console.error('could not save BPMN 2.0 diagram', err);
          }

          //alert('Diagram exported. Check the developer tools!');

          //console.log('DIAGRAM', xml);

          var name = ''
          if(id_bpmn == '' || id_bpmn == '-1')
              name = window.prompt("What is the name of the diagram?", ''); // just ask for the name if it is a new diagram

          if(name == '') {
              alert('The diagram was not saved.')
              return; // if name was not informed, then stop save proccess
          }

          $.ajax({
              type: 'post',
              url: "/bpmndesigner/save_bpmn/",
              data: { name:name, xml_content:xml, id:id_bpmn},
              success: function(returnData){
                  status = returnData.status;
                  msg = returnData.msg;
                  if(status == '0'){ // TODO: use enum or variable from django models instead of magic number
                    alert('Error: ' + msg);
                    console.log(msg);
                  }
                  else{
                      alert(msg);
                  }
              },
              dataType: 'json',
              headers: {'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val()}
          });

        });
      }

      /**
       * Open diagram in our modeler instance.
       *
       * @param {String} bpmnXML diagram to display
       */
      function openDiagram(bpmnXML) {

        // import diagram
        bpmnModeler.importXML(bpmnXML, function(err) {

          if (err) {
            return console.error('could not import BPMN 2.0 diagram', err);
          }

          // access modeler components
          var canvas = bpmnModeler.get('canvas');
          var overlays = bpmnModeler.get('overlays');


          // zoom to fit full viewport
          canvas.zoom('fit-viewport');
        });
      }


      // load external diagram file via AJAX and open it
      //$.get(diagramUrl, openDiagram, 'text');
      openDiagram(bpmnFileContent);

      // wire save button
      $('#save-button').click(exportDiagram);

      $('#close-button').click(function(){
          // #TODO: check for unsaved changes
         if (window.confirm("Are you sure you want to close this Diagram?")){
             document.location.href="/bpmndesigner/"
         }
      });
    </script>
    <!--
      Thanks for trying out our BPMN toolkit!

      This example uses the pre-built distribution of the bpmn-js modeler.
      Consider rolling your own distribution to have more flexibility
      regarding which features to include.

      Checkout our advanced examples section to learn more:
      * https://github.com/bpmn-io/bpmn-js-examples#advanced

      To get a bit broader overview over how bpmn-js works,
      follow our walkthrough:
      * https://bpmn.io/toolkit/bpmn-js/walkthrough/

      Related starters:
      * https://raw.githubusercontent.com/bpmn-io/bpmn-js-examples/starter/viewer.html
    -->
  </body>
</html>