{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>DJANGO BPMN DESIGNER PROJECT</title>
  </head>
  <body>
    DJANGO BPMN DESIGNER PROJECT (in development)
    
    <ul>
      MODELER
      <li>Loads a file from external URL</li>
      <a href="{% url 'bpmndesigner:modeler' %}">OPEN MODELER</a>
    </ul>    
    
    <ul>
        VIEWER
        <li>Loads the file: "media/bpmndesigner_data/diagram.bpmn"</li>
        <a href="{% url 'bpmndesigner:viewer' %}">OPEN VIEWER</a>
      </ul>     
 
  </body>
</html>