{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>DJANGO BPMN DESIGNER PROJECT</title>
  </head>
  <body>
    DJANGO BPMN DESIGNER PROJECT (in development)
    
    <ul>
      <li><a href="{% url 'bpmndesigner:index' %}">Diagrams List</a></li>
      <li>To create one, copy the content of a bpmn file, access the admin, click add new diagram and paste the file content into content field of form.</li>
    </ul>    

    <ul>
      MODELER
      <li>Loads a file from external URL</li>
      <a href="{% url 'bpmndesigner:modeler' %}">OPEN MODELER</a>
    </ul>    
    
 
 
  </body>
</html>